.body {
    background-color: #36393f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e4e8e1;
}
a:link {
    color: #e4e8e1;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #e4e8e1;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: darkgray;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: skyblue;
    background-color: transparent;
    text-decoration: underline;
}
.map {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-position: center;
    margin: 20px;
}
#textCenter {
    text-align: center;
}
#textTab {
    text-align: left;
}
p.header {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: inline;
    vertical-align: middle;
    font-size: 2em;
    font-weight: bolder;
}
p.back {
    position: absolute;
    left: 7%;
    transform: translate(-50%);
    display: inline;
    vertical-align: middle;
    font-size: 2em;
    font-weight: bolder;
}
p.back1 {
    position: absolute;
    left: 7%;
    transform: translate(-50%, -75%);
    display: inline;
    vertical-align: middle;
    font-size: 2em;
    font-weight: bolder;
}
p.nav {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}
.wpe {
    width: 100px;
    height: 100px;
    position: relative;
    left: 90%;
    background-image: url("images/wpe.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    display: inline-block;
    vertical-align: middle;
}
.cat {
    width: 100px;
    height: 100px;
    position: relative;
    left: 60%;
    background-image: url("images/cat.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    display: inline-block;
    vertical-align: middle;
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
.cog {
    width: 50px;
    height: 50px;
    position: relative;
    left: 25%;
    top: 22%;
    transform: translate(-50%, -55%);
    background-image: url("images/cog.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    display: inline-block;
    vertical-align: middle;
    animation-name: spin;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.chiki {
    width: 575px;
    height: 500px;
    position: relative;
    left: 30%;
    background-image: url("images/chiki1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 575px 500px;
}
.chiki:hover {
    background-image: url("images/chiki2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 575px 500px;
}
.body {
    background-color: #36393f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e4e8e1;
}
#article {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.circles{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}